name: Deploy to lambda

on:
  pull_request:
    types:
      - closed
  workflow_dispatch:

env:
  AWS_REGION: "us-east-1" #Change to reflect your Region
  FUNCTION_NAME: "updateNotionWorkouts"
  PYTHON_VERSION: "3.12.12" #Change to python version
  PYTHON_VERSION_SHORT: "3.12"

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::116452196725:role/github_workflows_lambda
          aws-region: ${{ env.AWS_REGION }}
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }} 
      - name: Install pipx
        run: |
          sudo apt update
          sudo apt install pipx
          pipx ensurepath
      - name: Install poetry
        run: |
          pipx install poetry==2.2.1
          poetry config virtualenvs.in-project true
      - name: Install libraries
        run: |
          poetry install
          mkdir ./python
          cp -r .venv/* ./python    
          zip -r workout_updater_libs.zip ./python > /dev/null
      - name: Deploy Lambda Layer
        id: lambda_layer
        run: |
          PUBLISH_LAYER_OUTPUT=$(aws lambda publish-layer-version \
          --layer-name workout-update-layer \
          --zip-file fileb://workout_updater_libs.zip \
          --compatible-runtimes python${{ env.PYTHON_VERSION_SHORT }} \
          --output json | tr -d '\n')
          
          echo "json_data=$PUBLISH_LAYER_OUTPUT"
          echo "json_data=$PUBLISH_LAYER_OUTPUT" >> $GITHUB_OUTPUT
      - name: Update Lambda Function
        run: |
          zip -r workout_updater_code.zip ./workout_updater > /dev/null
          aws lambda update-function-configuration --function-name ${{ env.FUNCTION_NAME }} --layers ${{ fromJSON(steps.lambda_layer.outputs.json_data).LayerVersionArn }} > /dev/null
          sleep 10
          aws lambda update-function-code --function-name ${{ env.FUNCTION_NAME }} --zip-file fileb://workout_updater_code.zip > /dev/null
